<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Autoclickerro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Autoclickerro.Properties.Settings>
            <setting name="ClickTimesSave" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClickIntervalSave" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ClickTypeSave" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CursorFixedSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PointCordsSave" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="StartHotkey" serializeAs="String">
                <value>112</value>
            </setting>
            <setting name="StopHotKey" serializeAs="String">
                <value>113</value>
            </setting>
            <setting name="SelectHotKey" serializeAs="String">
                <value>114</value>
            </setting>
            <setting name="ButonSelSave" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ustawienie" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>jj</string>
                        <string>ff</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Autoclickerro.Properties.Settings>
    </userSettings>
</configuration>